extends layout.pug

block title
    title Add Course
block content
    center
        div(class="container mt-4")
            div(class="col-lg-12")
                if errors
                    div(class="alert alert-danger",role="alert") 
                        ul
                        - for(i in errors)
                            li #{errors[i]}
            div(class="col-lg-8 card")
                div(class="card-header") Add Course
                form(action="/courses/add" ,method="POST")
                    div.row
                        div.col
                            div(class="form-group")
                                label(for='CourseId') CourseID:
                                input#courseId(type='text', class="form-control",
                                    placehoder='Format ABC1234',name='courseId')
                        div.col
                            div(class="form-group")
                                label(for='name') Course Name:
                                input#name(type='text', class="form-control",
                                    placehoder='Course name',name='name')
                    div.row
                        div.col
                            div(class="form-group")
                                label(for='duration') Duration:
                                input#duration(type='number', class="form-control",
                                ,name='duration',min=5)
                        div.col
                            div#limitBlc(class="form-group", style="display: hidden" )
                                label(for='limit') Limit
                                input#limit(type='number', class="form-control",
                                    ,name='limit')
                    div(class="form-group")
                        label(for='content') Content
                        textarea#content(name="content", cols="15", rows="8",class="form-control")
                    button(type='submit', class="btn btn-primary") Submit    
