extends layout.pug

block title
    title CMS-home
block content
    div(class="container mt-4")
        div(class="col-lg-12")
            if errors
                div(class="alert alert-danger",role="alert") 
                    ul
                    - for(i in errors)
                        li #{errors[i]}
        div(class="row jumbotron")
            div(class="col-lg-6 card")
                div(class="card-header") Login
                br 
                form(action="/login" method="POST")
                    div(class="form-group")
                        label(for='username') Username:
                        input#username(type='text', class="form-control",
                            placehoder='Username',name='username')
                    div(class="form-group")
                        label(for='username') Password:
                        input#password(type='password', class="form-control"
                        placehoder='Password',name='password')
                    button(type='submit', class="btn btn-success") Login
            
            div(class="col-lg-6 card")
                div(class="card-header") Register
                br
                form(action="/register",method="POST")
                    div(class="form-group")
                        label(for='name') Name:
                        input#name(type='text',class="form-control",placehoder='Name',name='name')
                    div(class="form-group")
                        label(for='username') Username:
                        input#username(type='text',class="form-control",placehoder='Username',name='username')
                    div(class="form-group")
                        label(for='username') Password:
                        input#password(type='password',class="form-control",placehoder='Password',name='password')
                    div(class="form-group")
                        label(for='userType') User Type:
                        select#userType(name="userType",class="form-control")
                            option(value='student') Student
                            option(value='professor') Professor
                            option(value='admin') Admin
                    button(type='submit', class="btn btn-primary") Register

        